$dimmed-color: #7e7e7e;

.hidden {
  display: none;
}

.dimmed {
  filter: brightness(0.66);
  background-color: $dimmed-color;
}

.text-thin {
  font-weight: lighter;
}

.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-gap {
  margin-top: 16px;
  margin-bottom: 16px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-10 {
  margin-left: 10px;
}

.left {
  left: -7px;
}

.w-300 {
  width: 310px;
}

.w-full {
  width: 100%;
}
