@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 500px;
  height: 700px;
  background-color: #f0f0f0;
}

main {
  min-width: 500px;
  min-height: 700px;
  transition: filter 0.3s ease;
}

#sideNav {
  nav {
    position: relative;
    flex-direction: row;
    font-size: 16px;
    margin: 15px;

    .close {
      position: absolute;
      right: 0;
    }
  }
}

#options {
  button > span {
    margin-left: 15px;
  }
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: padding-bottom 0.3s ease-in-out;
  display: block;
  position: relative;
  background-color: #3b4890;
  padding-bottom: 0;
  margin-top: -10px;
  margin-left: 40px;
  margin-right: 40px;

  // open 클래스는 여기서 정의하지 않습니다.
}

// open 클래스에 대한 스타일을 여기서 정의
.dropdown-content.open {
  max-height: 250px; // 최대 높이를 동적으로 조정할 수 있습니다.
  padding-bottom: 250px; // 콘텐츠에 맞게 조정
}

.down_arrow_2 {
  margin-left: 130px;
}

.down_arrow_3 {
  margin-left: 106px;
}

.down_arrow_4 {
  margin-left: 82px;
}

.hidden {
  display: none;
}

.dimmed {
  filter: brightness(0.66);
  background-color: #7e7e7e;
}

.bg-sky {
  background-color: #e0f2fe;
}
.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-blue {
  color: #3b4890;
}

.text-thin {
  font-weight: lighter;
}

.ml-24 {
  margin-left: 24px;
}

.ml-10 {
  margin-left: 10px;
}

.my-gap {
  margin-top: 16px;
  margin-bottom: 16px;
}

.left {
  left: -7px;
}

.w-300 {
  width: 310px;
}

i.material-symbols-outlined,
.no-drag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#navbar {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  .select {
    width: 60px;
  }
}

#search {
  position: absolute; /* 입력창을 절대 위치로 설정 */
  top: -3.5px; /* 상단에 위치 */
  right: 0px;
  width: 225px; /* 부모 요소의 너비에 맞게 설정 */
  padding: 0.5rem;
  padding-right: 2.5rem;
  outline: none;
}

.awesomplete {
  ul {
    position: absolute;
    width: 62%;
    top: 100%;
    right: 2.3rem;
    max-height: 150px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding: 10px;

    li {
      color: darkgrey;
      mark {
        background: inherit;
        color: #000;
      }
    }
  }
  span {
    visibility: hidden;
  }
}

i.material-symbols-outlined.search {
  right: 0rem;
  border: 3px solid #3b488e;
  border-radius: 0 0.4rem 0.4rem 0;
  padding: 0.25rem;
}

#more {
  margin-left: 68px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  z-index: 1000;
}

#pause,
#resume {
  margin-left: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
}

.sideNav {
  position: fixed;
  top: 0;
  left: -100%; /* 화면 밖에서 시작 */
  width: 303px; /* 화면의 4/7 차지 */
  height: 700px;
  background-color: #f0f0f0; /* 배경색 */
  color: white;
  transition: left 0.5s ease; /* 애니메이션 */
  z-index: 1000;
}

.sideNav.open {
  left: 0; /* 화면 안으로 슬라이드 */
}

.more {
  z-index: 500;
}
