doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0")
    link(rel="stylesheet", href="./popup.css")
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Popup
  body

    header 
     ul#sideNav.sideNav
      nav.flex
        span.text-black MENU
        button.close.daisy-btn.btn-white.items-center
          i.material-symbols-outlined.text-black close
      li#options
        button.dropdown-btn.settings.flex.ml-24.my-gap
          i.material-symbols-outlined.text-Orange.text-2xl.mr-2 settings
          span.text-black 일반 설정
        ul.dropdown-content.relative.flex.space-center
          .daisy-tabs.daisy-tabs-lifted.daisy-tabs-xs(role="tablist")
            input(type='radio' name='default' role='tab' class='daisy-tab' aria-label="기본" checked="checked")
            div(role='tabpanel' class='daisy-tab-content')
              ul.scrollable
                li#preview
                  ul.flex.items-center.justify-between
                    .flex.items-center.justify-center
                      i.material-symbols-outlined.text-Orange.font-base.text-center.mr-1(style="display: none;" title="수정됨") construction
                      span.text-black 1. 미리보기
                    input(type='checkbox', class="float-right bg-black border-black daisy-toggle daisy-toggle-warning daisy-toggle-sm [--tglbg:#fcac23]" checked="checked" style="margin-right: 16px;")
                  p.text-Gray.font-xs 글을 우클릭하여 미리 봅니다.
                li#user-info 
                  ul.flex.items-center.justify-between
                    .flex.items-center.justify-center
                      i.material-symbols-outlined.text-Orange.font-base.text-center.mr-1(style="display: none;" title="수정됨") construction
                      span.text-black 2. 유저 정보
                    input(type='checkbox', class="float-right bg-black border-black daisy-toggle daisy-toggle-warning daisy-toggle-sm [--tglbg:#fcac23]" checked="checked" style="margin-right: 16px;")
                  p.text-Gray.font-xs 유저와 IP정보를 표시합니다.
                li#user-tag 
                  ul.flex.items-center.justify-between
                    .flex.items-center.justify-center
                      i.material-symbols-outlined.text-Orange.font-base.text-center.mr-1(style="display: none;" title="수정됨") construction
                      span.text-black 3. 이용자 태그
                    input(type='checkbox', class="float-right bg-black border-black daisy-toggle daisy-toggle-warning daisy-toggle-sm [--tglbg:#fcac23]" checked="checked" style="margin-right: 16px;")
                  p.text-Gray.font-xs 이용자들을 태그로 분류합니다.
                li#auto-navigation
                  ul.flex.items-center.justify-between
                    .flex.items-center.justify-center
                      i.material-symbols-outlined.text-Orange.font-base.text-center.mr-1(style="display: none;" title="수정됨") construction
                      span.text-black 4. 갤러리 자동 탐색
                    input(type='checkbox', class="float-right bg-black border-black daisy-toggle daisy-toggle-warning daisy-toggle-sm [--tglbg:#fcac23]" checked="checked" style="margin-right: 16px;")
                  p.text-Gray.font-xs 현재 갤러리의 ID를 자동으로 찾습니다.
                li#admin-panel 
                  ul.flex.items-center.justify-between
                    .flex.items-center.justify-center
                      i.material-symbols-outlined.text-Orange.font-base.text-center.mr-1(style="display: none;" title="수정됨") construction
                      span.text-black 5. 관리 패널
                    input(type='checkbox', class="float-right bg-black border-black daisy-toggle daisy-toggle-warning daisy-toggle-sm [--tglbg:#fcac23]" checked="checked" style="margin-right: 16px;")
                  p.text-Gray.font-xs 화면 좌측에 관리 패널을 추가합니다.
            input(type='radio' name='default' role='tab' class='daisy-tab' aria-label="범위")
            div(role='tabpanel' class='daisy-tab-content')
              li(style="display: grid; row-gap: 10px;")
                ul.flex.items-center.gap-10(class="daisy-tooltip daisy-tooltip-right" data-tip="기본 값: 3초")
                  i.material-symbols-outlined.text-Gray refresh
                  span#refreshIntervalDescription.text-Gray.text-center 자동 새로고침 간격
                ul(style="max-width: 225px;")
                  input(type="range" id="refreshInterval" min="1" max="6" step="0" value="3" class="daisy-range daisy-range-warning daisy-range-xs")
                  .flex.w-full.justify-between.px-2.text-xs.text-Gray
                    each val in [1, 2, 3, 4, 5]
                      span= val + "초"
                    span 해제
              li(style="display: grid; row-gap: 10px;")
                ul.flex.items-center.gap-10(class="daisy-tooltip daisy-tooltip-right" data-tip="기본 값: 10")
                  i.material-symbols-outlined.text-Gray call_missed_outgoing
                  span#removeLimitCountDescription.text-Gray.text-center 1회 최대 삭제갯수
                ul(style="max-width: 225px;")
                  input(type="range" id="removeLimitCount" min="1" max="10" step="0" value="10" class="daisy-range daisy-range-warning daisy-range-xs")
                  .flex.w-full.justify-between.px-2.text-xs.text-Gray
                    each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                      span= val 
            input(type='radio' name='default' role='tab' class='daisy-tab' aria-label="차단")
            div(role='tabpanel' class='daisy-tab-content')

            input(type='radio' name='default' role='tab' class='daisy-tab' aria-label="메모")
            div(role='tabpanel' class='daisy-tab-content' style='margin-left: 50px !important;')
              div#memoSelect.text-black.no-drag
                #user
                  span.selected 유저
                  table.memoTable
                    thead 
                      tr
                        th Key 
                        th Value
                    tbody.scrollable(style="display: none;")
                      tr 
                        td 키1
                        td 값1
                      tr 
                        td 키2
                        td 값2
                      tr 
                        td 키3
                        td 값3
                      tr 
                        td 키4
                        td 값4
                      tr 
                        td 키5
                        td 값5
                      tr 
                        td 키6
                        td 값6
                      tr 
                        td 키7
                        td 값7
                      tr 
                        td 키8
                        td 값8
                #nickname
                  span 닉네임
                #ip
                  span 아이피
              div
                table#memoTable
                  thead
                    tr 
                       
                  tbody 


            input(type='radio' name='default' role='tab' class='daisy-tab' aria-label="실험")
            div(role='tabpanel' class='daisy-tab-content')

        button.dropdown-btn.notifications.flex.ml-24.my-gap
          i.material-symbols-outlined.text-Sky.text-2xl.mr-2 notifications
          span.text-black 키워드 알림
        ul.dropdown-content
          li 
            span 
        button.dropdown-btn.statistic.flex.ml-24.my-gap
          i.material-symbols-outlined.text-Green.text-2xl.mr-2 monitoring 
          span.text-black 통계 그래프
        ul.dropdown-content
          li 
            span 
        button.dropdown-btn.log.flex.ml-24.my-gap
          i.material-symbols-outlined.text-Red.text-2xl.mr-2 receipt_long
          span.text-black 필터링 로그
        ul.dropdown-content
          li 
            span 
        button.dropdown-btn.data.flex.ml-24.my-gap
          i.material-symbols-outlined.text-Violet.text-2xl.mr-2 database
          span.text-black 데이터 입출력
        ul.dropdown-content
          li 
            span 
        button.dropdown-btn.report.flex.ml-24.my-gap
          i.material-symbols-outlined.text-Lime.text-2xl.mr-2 chat_error
          span.text-black 문제 신고하기
        ul.dropdown-content
          li 
            span 
        button.dropdown-btn.info.flex.ml-24.my-gap
          i.material-symbols-outlined.text-HotPink.text-2xl.mr-2 info
          span.text-black 확장프로그램 정보
        ul.dropdown-content
          li 
            span 
    main
      nav
        #navbar.bg-dcBlue.h-12.flex.items-center
          .flex.items-center
            a.-rotate-90
              button(class="daisy-btn p-2 btn-blue hover:bg-dcPurple")
                i.material-symbols-outlined.text-white.text-3xl open_in_new
          .flex.items-center
            .search-container.relative <!-- 검색 컨테이너 -->
              .form-control.flex.items-center
                .relative.ml-4.h-8.w-300.bg-sky.rounded-md.flex.items-center
                  select#search-type.select.text-black.cursor-pointer.border-none.bg-transparent.outline-none.appearance-none(class="transition duration-300 ease")
                    option(value="id" selected).text-center ID
                    option(value="name").text-center Name
                  i.material-symbols-outlined.text-dcBlue.text-2xl.relative.left.fold unfold_more
                  input#search.pl-4.text-black.bg-transparent.outline-none(type="text", required="", placeholder="검색어 입력...")
                  button(id="clear-button" style="font-size: 20px; display: none;") x
                  i.material-symbols-outlined.text-dcBlue.text-1xl.absolute.search search
          .flex.items-center.relative
            button#pause(class="daisy-btn btn-blue hover:bg-dcPurple absolute")
              i.material-symbols-outlined.text-white.text-3xl pause_circle
            button#resume(class="daisy-btn btn-blue hover:bg-dcPurple absolute" style="display: none;")
              i.material-symbols-outlined.text-white.text-3xl play_arrow
            button#more(class="daisy-btn btn-blue hover:bg-dcPurple absolute")
              i.material-symbols-outlined.text-white.text-3xl.more more_vert
  script(src="https://unpkg.com/@material-tailwind/html@latest/scripts/ripple.js")             
  script(src="./popup.js")
